<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cards</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<a href="/cards/">
    <div class="logo-page">
        <img src="../img/logo.png" alt="">
    </div>
</a>
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <p>Sorry, this page is under construction</p>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>