<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="logo">
        <img src="/img/logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Cards Watcher
    </div>
    <div class="text-center" th:if="${param.error}" style="color: red">
        Incorrect login or password
    </div>

    <form name="f" method="post" class="p-3 mt-3" action="/process_login">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input class="custom-input" type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input class="custom-input" type="password" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn mt-3">Login</button>
    </form>


    <div class="text-center fs-6">
        <a href="/auth/forget-password">Forget password?</a> or <a href="/auth/registration">Sign up</a>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>