<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Payments</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<a href="/cards/">
    <div class="logo-page">
        <img src="/img/logo.png" alt="">
    </div>
</a>
<a href="/logout">
    <div class="logout">
        <img src="/img/logout.png" alt="">
    </div>
</a>
<div class="container">
    <div class="row sticky-top">
        <div class="col-lg-12">
            <h2 class="text-center mb-3 mt-3">Payment Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 px-5">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First payment dt</th>
                    <th scope="col">Payment dt from bank</th>
                    <th scope="col">Recommend payment dt</th>
                    <th scope="col">Payment dt calc</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment dt</th>
                    <th scope="col">Status</th>
                    <th scope="col">Comment</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="payment, iterStat : ${payments}" class='clickable-row'
                    th:attr="data-href=@{/payments/show/{id}(id=${payment.getId()})}">

                        <th scope="row" th:text="${iterStat.index + 1}"></th>
                        <td th:text="${payment.getDtFirstPayment()}"></td>
                        <td th:text="${payment.getBankDtPayment()}"></td>
                        <td th:text="${payment.getRecommendPaymentDt()}"></td>
                        <td th:text="${payment.getCalcDtFullRepayment()}"></td>
                        <td th:text="${payment.getAmount()}"></td>
                        <td th:text="${payment.getPaymentDt()}"></td>
                        <td th:text="${payment.getPaymentStatusName()}"></td>
                        <td th:text="${payment.getDescription()}"></td>

                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>