<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${payment.getId()}">VALUE</p>
<p th:text="${payment.getCreditCardId()}">VALUE</p>
<p th:text="${payment.getDtFirstPayment()}">VALUE</p>
<p th:text="${payment.getBankDtPayment()}">VALUE</p>
<p th:text="${payment.getRecommendPaymentDt()}">VALUE</p>
<p th:text="${payment.getCalcDtFullRepayment()}">VALUE</p>
<p th:text="${payment.getAmount()}">VALUE</p>
<p th:text="${payment.getPaymentDt()}">VALUE</p>
<p th:text="${payment.getPaymentStatusId()}">VALUE</p>
<p th:text="${payment.getDescription()}">VALUE</p>

<a th:href="@{/payments/{id}/update(id=${payment.getId()})}">Update</a>

<form th:method="DELETE" th:action="@{/payments/{id}(id=${payment.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>