<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New card</title>
</head>
<body>

<form th:method="POST" th:action="@{/cards}" th:object="${card}">
    <label for="idUser">Enter User: </label>
    <input type="text" th:field="*{idUser}" id="idUser"/>
    <div style="color:red" th:errors="*{idUser}">User Error</div>
    <br/>

    <label for="idBank">Enter Bank ID: </label>
    <input type="text" th:field="*{idBank}" id="idBank"/>
    <div style="color:red" th:errors="*{idBank}">Bank ID Error</div>
    <br/>

    <label for="cardName">Enter Card Name: </label>
    <input type="text" th:field="*{cardName}" id="cardName"/>
    <div style="color:red" th:errors="*{cardName}">Card Name Error</div>
    <br/>

    <label for="lastFourDigit">Enter Last Four Digit: </label>
    <input type="text" th:field="*{lastFourDigit}" id="lastFourDigit"/>
    <div style="color:red" th:errors="*{lastFourDigit}">Last Four Digit Error</div>
    <br/>

    <label for="idCurrency">Enter Currency: </label>
    <input type="text" th:field="*{idCurrency}" id="idCurrency"/>
    <div style="color:red" th:errors="*{idCurrency}">Currency Error</div>
    <br/>

    <label for="limitAmount">Enter Limit Amount: </label>
    <input type="text" th:field="*{limitAmount}" id="limitAmount"/>
    <div style="color:red" th:errors="*{limitAmount}">Limit Amount Error</div>
    <br/>

    <label for="gracePeriod">Enter Grace Period: </label>
    <input type="text" th:field="*{gracePeriod}" id="gracePeriod"/>
    <div style="color:red" th:errors="*{gracePeriod}">Grace Period Error</div>
    <br/>

    <label for="interestRate">Enter Interest Rate: </label>
    <input type="text" th:field="*{interestRate}" id="interestRate"/>
    <div style="color:red" th:errors="*{interestRate}">Interest Rate Error</div>
    <br/>

    <label for="statementDay">Enter Statement Day: </label>
    <input type="text" th:field="*{statementDay}" id="statementDay"/>
    <div style="color:red" th:errors="*{statementDay}">Statement Day Error</div>
    <br/>

    <label for="totalDebit">Enter Total Debit: </label>
    <input type="text" th:field="*{totalDebit}" id="totalDebit"/>
    <div style="color:red" th:errors="*{totalDebit}">Total Debit Error</div>
    <br/>
    <input type="submit" value="Create!"/>

</form>

</body>
</html>