<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Cards</title>
</head>
<body>

<div th:each="card : ${cards}">
    <a th:href="@{/cards/{id}(id=${card.getId()})}"
       th:text="${card.getId() + ', ' +
                  card.getIdUser()  + ', ' +
                  card.getIdBank()  + ', ' +
                  card.getIdCurrency()  + ', ' +
                  card.getCardName()  + ', ' +
                  card.getLastFourDigit()  + ', ' +
                  card.getLimitAmount()  + ', ' +
                  card.getTotalDebit()  + ', ' +
                  card.getGracePeriod()  + ', ' +
                  card.getInterestRate()  + ', ' +
                  card.getStatementDay()}">card</a>
</div>

<br/>
<hr/>

<a href="/cards/create">Create new card</a>

</body>
</html>