<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>

<body>

<h1>Hello!</h1>
<a href="/cards/">show list cards</a><br>
<a href="/cards/create">create card</a><br>
<a href="/cards/update">update card</a><br>
<a href="/cards/delete">delete card</a><br>
<br>
<a href="/users/list">show list users</a><br>
<a href="/users/create">create user</a><br>
<a href="/users/update">update user</a><br>
<a href="/users/delete">delete user</a><br>
<br>
<a href="/payments/list">show list payments</a><br>
<a href="/payments/create">create payment</a><br>
<a href="/payments/update">update payment</a><br>
<a href="/payments/delete">delete payment</a><br>

</body>

</html>